{% extends "base.html" %}
<!DOCTYPE html>
<head>
    {% block title %} 文章 {% endblock %}
</head>
<body>
{% block content %}
    {% for article in articles %}
        <a href="{{ url_for('articles.show_by_id', article_id = article.article_id) }}" class="text-dark text-decoration-none">
            <div class="border-bottom mb-3">
                <h3>{{ article.article_title }}</h3>
                <h5>{{ article.article_content }}</h5>
            </div>
        </a>
    {% endfor %}
    <a href="{{ url_for('articles.add_one') }}" class="btn btn-block btn-dark">添加文章</a>
{% endblock %}
</body>
</html>