{% extends "base.html" %}
<!DOCTYPE html>
<head>
    {% block title %} {{ article.article_title }} {% endblock %}
</head>
<body>
{% block content %}
    <!-- 页面顶部当前位置导航 -->
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="{{ url_for('index.show_index') }}">主页</a></li>
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="{{ url_for('articles.show_all') }}">文章列表</a></li>
            <li class="breadcrumb-item">文章内容</li>
        </ol>
    </div>
    <!-- 正文显示部分 -->
    <div>
        <p class="invisible" name="article_id">{{ article.article_id }}</p>
        <h1 class="display-4 text-center">{{ article.article_title }}</h1><br>
        <h4 class="text-right">-- by {{ article.article_auth }}</h4><br>
        <p>{{ article.article_content }}</p>
    </div>
    <div class="btn-group d-flex">
        <a href="{{ url_for('articles.update_one', article_id = article.article_id) }}" class="btn btn-secondary text-decoration-none">编辑</a>
        <a href="{{ url_for('articles.delete_one', article_id = article.article_id) }}" class="btn btn-danger text-decoration-none">删除</a>
    </div>
{% endblock %}
</body>
</html>