{% extends "base.html" %}
<!DOCTYPE html>
<head>
    {% block title %} 文章 {% endblock %}
</head>
<body>
    {% block content %}
        <h1 class="text-center">
        <table class="table">
            <tr>
                <th>article_title</th>
                <th>article_auth</th>
                <th>article_content</th>
            </tr>
            <tr>
            {% for article in articles %}
                <td>{{ article.article_title }}</td>
                <td>{{ article.article_auth }}</td>
                <td>{{ article.article_content }}</td>
            {% endfor %}
            </tr>
        </table>
        </h1>
    {% endblock %}
</body>
</html>