<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %}

        <!-- 导入bootstrap4.min.css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bs4/bootstrap.min.css') }}">
        <!-- 导入jquery 务必在导入bootstrap.js前导入 -->
        <script src="{{ url_for('static', filename='js/jquery/jquery-3.4.1.min.js') }}"></script>
        <!-- 导入bootstrap.bundle.js -->
        <script src="{{ url_for('static', filename='js/bs4/bootstrap.bundle.min.js') }}"></script>
        <!-- 导入bootstrap.js -->
        <script src="{{ url_for('static', filename='js/bs4/bootstrap.min.js') }}"></script>

        <title>{% block title %}{% endblock %} - do this to my love </title>

    {% endblock %}

</head>

<body>

    <div id="header" class="container">
        <nav class="navbar navbar-expand-md bg-light navbar-light">
            <!-- 首页标识 -->
            <a class="navbar-brand" href="#">AA</a>
            <!-- 导航栏按钮 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 导航栏链接 -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Link1</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link2</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link3</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="content" class="container">{% block content %}{% endblock %}</div>
    <div id="footer" class="container">
        <footer class="text-center">&copy; Copyright 2019 by <a href="https://github.com/EscapistH">Escapist_H</a>.</footer>
    </div>

</body>
</html>