{% extends "base.html" %}
<!DOCTYPE html>
<head>
    {% block title %} 图片 {% endblock %}
</head>
<body>
    {% block content %}
        <div class="row mt-3 mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-1 mb-1"><img class="w-100 h-100 img-thumbnail" src="../../static/image/1.jpg"></div>
        </div>
    {% endblock %}
</body>
</html>